Models/*
!Models/.gitkeep

train/data/processed/*.json
!train/data/processed/.gitkeep
train/data/raw/*.json
!train/data/raw/.gitkeep
train/outputs/
test/LR/predictions/
test/CMU/topk/
test/CMU/predictions/
.DS_Store
__pycache__/
*.py[cod]
*.log
*.ckpt
*.pt
*.pth
*.bin
*.safetensors
